{% extends "base.html" %}

{% load static %}

{% block title %}Produtos - Minha Loja{% endblock %}

{% block content %}
<!-- Produtos -->
<div class="container">
    {% for produto in produtos %}
    <a href="{% url 'produto_detalhe' produto.id %}" class="card">
        <img src="{% static 'images/monitor_escuro.jpg' %}" alt="{{ produto.nome }}">
        <h3>{{ produto.nome }}</h3>
        <p>{{ produto.descricao }}</p>
        <div class="price">{{ produto.preco }} €</div>
        <button>Comprar Agora</button>
    </a>
    {% endfor %}
</div>
{% endblock %}
